@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background:url('https://cdn.wallpapersafari.com/97/6/vFig8y.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    height: 70vh;
    font-family: 'Poppins', sans-serif;
}

.container{
    padding: 20px 70px;
    color:#fff;
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.date-container{
    font-weight: 100;
}
.date-container .time{
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: oblique;
}

.date-container #am-pm{
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
}

.place-container{
    text-align: end;
}

.place-container .time-zone{
    display: flex;
    flex-direction: column;
    background-color: rgba(10, 44, 148, 0.8);
    padding:5px;
    border-radius: 10px;
    margin: 10px 0;
    border: 2px solid #f21919;
    font-size: 30px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.place-container .country{
    font-size: 16px;
    font-weight: 700;
}

.current-info .others{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    background: rgba(252, 252, 252, 0.6);
    padding:20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 2px solid #eee;
}

.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    font-style: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.future-forecast{
    background: rgba(76, 191, 212, 0.8);
    padding: 25px;
    position: fixed;
    bottom: 0px;
    display: flex;
    color:rgb(221, 216, 216);
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee0e0;
    border-radius: 10px;
    padding:15px;
    padding-right: 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.future-forecast .today .day{
    padding: 5px 15px;
    background: #3f3f45;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp{
    font-size: 18px;
    padding-top: 15px;
}

.future-forecast .weather-forecast{
    display: flex;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 500;
    font-size: 12px;
    font-style: oblique;
}

.weather-forecast .weather-forecast-item .w-icon{
    height: 150px;
    width: 150px ;
   
}

.w-icon{
    height: 150px;
    width: 150px;
}


@media only screen and  (max-width:730px){
    
    .container{
        padding: 20px;
    }
    
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .future-forecast .today .temp{
        font-size: 16px;
    }

    .date-container .time{
        font-size: 50px;
    }

    .date-container #am-pm{
        font-size: 20px;
    }

    .date-container .date{
        font-size: 20px;
    }

    .place-container{
        text-align: end;
        margin-top: 15px;
    }

    .place-container .time-zone{
        font-size: 20px;
    }

    .current-info .others{
        padding: 12px;
    }

    .current-info .others .weather-item{
        font-size: 14px;
    }

}

@media only screen and (max-width: 1400px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}
